<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AspectInjector" version="1.0.0-beta4" targetFramework="net452" developmentDependency="true" />
  <package id="NLog" version="5.0.0-beta05" targetFramework="net452" />
  <package id="NLog.Config" version="4.4.2-rc1" targetFramework="net452" />
  <package id="NLog.Schema" version="4.4.2-rc1" targetFramework="net452" />
</packages>